.missingsBoard{
    width: 100%;
    background-color: rgb(250 253 226);
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.controls {
    grid-column: 1 / span 2;
    grid-row: 1 / -1;
    ul {
        border: 1px solid magenta;
        position: sticky;
        top: 10px;
        left: 10px;
    }
}

.display {
    grid-column: 3 / end;
    padding: 20px;
}
